certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
gTTS==2.5.1
idna==3.7
PyAudio==0.2.14
pycparser==2.22
pygame==2.5.2
requests==2.31.0
srt==3.5.3
tqdm==4.66.2
urllib3==2.2.1
vosk==0.3.45
websockets==12.0
